<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark success-color" style="background-color:purple;">
  
    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
      aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <!-- Collapsible content --> 
    <div class="collapse navbar-collapse" id="basicExampleNav">
  
      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'index' %}" style="color:black">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'sortby_locations' %}" style="color:black">||  Locational Arrangement  ||</a>
        </li>
        <li class=" hidden">
          <div class="btn-group dropright">
          <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Categories
          </button>
          <div class="dropdown-menu">
              
                  <a class="dropdown-item" href="#">Animals</a>
                  <a class="dropdown-item" href="#">Sci-fi</a>
                  <a class="dropdown-item" href="#">Country</a>
                  <a class="dropdown-item" href="#">Cars</a>
                  <a class="dropdown-item" href="#">Sports</a>
                  <a class="dropdown-item" href="#">Delicasies</a>
                  <a class="dropdown-item" href="#">Fashion</a>
                  <div class="dropdown-divider"></div>
          
        </div>
        </li>
  
      </ul>
      <!-- Links -->
  
      <form class="form-inline" action="{% url 'search_results' %}">
        <div class="md-form my-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Your choice category" aria-label="Search" name='search'>
          <button class="btn btn-outline-white btn-md my-2 my-sm-0 ml-3" type="submit">Search</button>
        </div>
      </form>
    </div>
  
  
  </nav>